<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.ChatMessageMapper">
    <insert id="addToMyrelationship">
        insert into relation(user_id,friend_user_id) values(#{uid},#{friendId})
    </insert>
    <update id="toggleLongTermContact">
        update relation set status=#{a} where user_id=#{uid} and friend_user_id=#{fid}
    </update>


    <select id="getMyrelationship" resultType="com.cg.entity.view.VRelation">
        select * from v_relation where user_id=#{uid}
    </select>
    <select id="getchatlist" resultType="com.cg.entity.ChatMessage">
        SELECT * FROM chat_message
        WHERE (send_user_account = #{sendUserAccount} AND accept_user_account = #{acceptUserAccount})
           OR (send_user_account = #{acceptUserAccount} AND accept_user_account = #{sendUserAccount})
        ORDER BY send_time;
    </select>

</mapper>
