<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.WasteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cg.entity.Waste">
        <id column="waste_id" property="wasteId" />
        <result column="cid" property="cid" />
        <result column="create_date" property="createDate" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        waste_id, cid, img_url,price,unit,create_date, name, description
    </sql>

</mapper>
